:root {
  --color-theme: white;
  --sidebar-width: 40%;
  background: var(--color-theme);
}

/* shared css */
button {
  position: absolute;
  width: 5rem;
  height: 4rem;
  padding: 1%;
  border-radius: 50%;
}
.fixed {
  position: fixed;
}
.expect-user-input {
  /* break mid-word if necessary (in order to prevent overflow) */
  word-wrap: break-word;
}

/* left side */
#sidebar {
  position: fixed;
  display: inline-block;
  width: var(--sidebar-width);
  color: inherit;
  border: 2px solid black;
  top: 5px;
  left: 0px;
  bottom: 0px;
  overflow-y: auto;
}
#plain-text-textbox {
  margin: 5%;
  margin-top: 15%;
  padding: 1rem;
  height: 70%;
  border: 1px solid black;
}
#record-button {
  bottom: 5%;
  right: 5%;
}
#settings-button {
  top: 2%;
  right: 5%;
}

/* right side */
#main {
  display: inline-block;
  position: absolute;
  left: var(--sidebar-width);
  right: 0;
  background: lime;
}
#note-textbox {
  margin: 5%;
  margin-top: 30;
}
#play-button {
  bottom: 5%;
  right: 5%;
  margin: auto;
}
